@import "styles";

.section-container {
  @include main-container;

  .section-header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 2rem 0;

    h2 {
      font-size: 2.25rem;
    }
  }

  .section-content {
    display: flex;
    flex: 1;
    gap: 2rem;
    height: 375px;
  }
}