@import '../../styles/';

header {
  @include main-container;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 2rem;
  justify-content: space-between;

  img {
    display: block;
  }

  nav {
    margin-right: 0px;

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        flex-grow: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: 0.5s linear;
        padding: 0.5rem 1rem;
        margin-right: 1rem;
      }

      li:last-child {
        margin-right: 0;
      }

      li:hover {
        background-color: $yellow-primary;
        border-radius: $border-radius-small;
      }
    }
  }
}